<div class='col1'>
	<form id="add-form" action="addTwot" method="POST">
	  <input type="text" name="message"/><br/>
	  <div id="userID">{{mainUser.username}}</div>
	  <input type="submit" value="Submit"/>
	</form>

	<div class='twot-list'>
		{{#each twot}}
		<div class="twot {{this.author}}">
		<div class="twot-m">{{this.message}}</div>
		<div class="twot-a">{{this.author}}</div>
		</div>
		{{/each}}
	</div>
</div>

<div class='col2'>
	<button type="button" class='logButton'>{{logVal}}</button>
	
	{{#each user}}
	<button type="button" class='userButton'>{{this.username}}</button>
	{{/each}}
	
</div>